<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGSk-OWe5GMsKehPN6gVbitbFAy27aDbc</string>
	<key>GCM_SENDER_ID</key>
	<string>667066355721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scharoenApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>scharoen-app</string>
	<key>STORAGE_BUCKET</key>
	<string>scharoen-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667066355721:ios:366cf30e6e239f366b28d8</string>
</dict>
</plist>